/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Header */

header {
    text-align: center;
    width: 100%;
    background-color: #FFFFFF;
    color:  #ff9614;
    font-family: "Nerko One", cursive;
    font-size: 50px;
    padding: 25px 0;
}

/* Body */
body {
    background-color: #f6f5f3;
    font-family: "Montserrat", 'Helvetica Neue', serif;
}

#uptitle {
    color: #b19999;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#title {
    color: #4e3969;
    margin-bottom: 35px;
}

.hidden{
    display: none;
}

section.img-container h3 {
    margin-bottom: 45px;
}

section.img-container img {
    width: 100%;
    display: block;
}

.text-img {
    padding: 40px 0 60px 40px;
    font-size: 14px;
}

section.img-container ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-button {
    background-color: #FFFFFF;
    width: 60px;
    height: 47px;
    border-radius: 40%;
    padding: 8px 18px ;
    border: none;
    font-size: 16px;
    box-shadow: 0px 1px 3px 0px #e5e4e4;
}

h4 {
    margin-bottom: 22px;
}

hr {
    width: 105px;
    border: 1px solid #f7972e;
    margin-bottom: 30px;
}

#image-tiramisu {
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

footer {
    flex-direction: column;
    display: flex;
    background-color: #7c69a4 ;
    color: #FFFFFF;
    padding: 35px 0;
    align-items: center;
    font-size: 12px;
    text-align: center;
    gap: 25px;
}


footer div ul {
    list-style-type: none;
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    justify-content: center;
}

footer div ul li a {
    color: #FFFFFF;
}


/* Container */

.container {
    max-width: 590px;
    margin: 0 auto;
    width: 100%;
    padding: 30px 20px 60px 20px;
}

.img-container {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px 0px #e5e4e4;
    margin-bottom: 35px;
}

.social-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

/* Social color */

.fa-facebook {
    color: #1a77f3;
}

.fa-twitter {
    color: #009eff;
}

.fa-instagram {
    color: #dc3d78;
}

.fa-pinterest {
    color: #e62222;
}

.fa-youtube {
    color: #e62222;
}




/*Tablet*/

@media screen and (min-width: 768px) {
    header {
        text-align: left;
        padding-left: 25px;
    }

    .hidden {
        display: inline;
    }

    .container {
        max-width: 895px;
        margin: 0 auto;
        width: 100%;
    }

    section.img-container ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
    }

    section.img-container li {
        width: 220px;
    }

    .social-button {
        border-radius: 40px;
        width: 120px;
        height: 40px;
    }

    button.social-button .hidden {
        display: none;
    }

    .ad {
        width: 100%;
        height: 80px;
        margin-bottom: 50px;
    }

    h4 {
        margin-bottom: 22px;
        font-size: 24px;
    }

    #image-tiramisu {
        width: 50%;
        float: left;
        margin-bottom: 0;
        margin-right: 10px;
    }

    #text-story {
        font-size: 20px;
    }
    
    
}

/*Desktop*/

@media screen and (min-width: 992px) {
    .container {
        max-width: 1350px;
        margin: 0 auto;
        width: 100%;
    }

    .img-container {
        display: flex;
    }

    section.img-container img {
        width: 70%;
    }

    section.img-container ul {
        width: 30%;
        flex-direction: column;
        gap: 20px;
    }

    .social-button {
        border-radius: 40px;
        width: 240px;
        height: 40px;
    }

    button.social-button .hidden {
        display: inline;
    }

    button.social-button a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #000000;
    }

    .ad {
        width: 100%;
        height: 130px;
    }

    h4 {
        margin-bottom: 22px;
        font-size: 26px;
    }

    #text-story {
        font-size: 24px;
    }
    
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 35px 25px;
        text-align: left;
    }
}
