/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Header */

header {
    text-align: center;
    width: 100%;
    background-color: #FFFFFF;
    color:  #ff9614;
    font-family: "Nerko One", cursive;
    font-size: 50px;
    padding: 26px 0;
}

/* Body */
body {
    background-color: #f6f5f3;
    font-family: "Montserrat", 'Helvetica Neue', serif;
}

#uptitle {
    color: #b19999;
    text-transform: uppercase;
}

/* Container */

.container {
    margin: 0 auto;
    width: 100%;
    padding: 30px 20px 60px 20px;
}

/*Tablet*/

@media screen and (min-width: 768px) {
    header {
        text-align: left;
        padding-left: 26px;
    }
}

/*Desktop*/

@media screen and (min-width: 992px) {

}
